<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dmc.camera.assist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.dmc.camera.provider.permission.READ"
        android:protectionLevel="signature" />
    <permission
        android:name="com.dmc.camera.provider.permission.WRITE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="com.dmc.camera.provider.DBProvider"
            android:authorities="com.dmc.camera.provider"
            android:readPermission="com.dmc.camera.provider.permission.READ"
            android:writePermission="com.dmc.camera.provider.permission.WRITE" />

        <activity
            android:name="com.dmc.camera.assist.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >

            <!-- android:label="@string/app_name" android:screenOrientation="landscape"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.dmc.camera.gallery.PhotoViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" 
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"/>

        <receiver
            android:name="com.dmc.camera.assist.SettingsReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>